// importing font from fonts.google.com which is of type serif
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

// import font from fonts.google.com which is of type sans Serif
@import url('https://fonts.googleapis.com/css?family=Roboto');

// import font-awesome icons CSS CDN
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
  font-family: $body_font;
  font-size: 1.2 rem;
  line-height:160%;
  background: lighten($paleyellow, 50);
  color: $darkblue;
}
 #{headings()}{
   font-family: $heading_font;
   font-weight:normal;
   color: $darkgray;
 }
