// Speakers --------------------------------------------------
  .speakers{
  .artist{
    @include clearfix;
    h3{
      padding-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px dotted $lightgray;
      margin-bottom: 5px;
    }
    img{
      @include border-radius(50%);
      width: 120px;
      float: left;
      margin: {
        right:10px;
        bottom:10px;
      }
    }
  }
}


// Social links
.socialicons{
  @include clearfix;
  .title{
    float: left;
  }
  ul{
    float:left;
    li{
      display: inline-block;
      margin-left: 5px;
      img{
        @include border-radius;
        width : 30%;
        max-width: 100px;
      }
    }
  }
}
